* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  height: 50px;
  width: 170px;
  background: #fd6e0a;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  border: 0;
  padding: 10px 20px;
  color: #fff;
}
.txt-orange {
  color: #fd6e0a;
}
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and nav style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* banner styles */
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  margin: bottom 30px;
  font-size: 18px;
  text-align: justify;
  color: #757575;
}
/* main start */

section {
  margin-top: 130px;
}
.section-about,
.my-skills {
  padding: 130px 155px;
  background: #fff8f3;
  border-radius: 10px;
}
.my-skills {
  background: none;
}
.section-title {
  margin-bottom: 30px;
  text-align: center;
}
.about-desc {
  margin-bottom: 30px;
  color: #757575;
  font-size: 18px;
}
.about-desc-container {
  display: flex;
  justify-content: space-between;
}
.about-info {
  text-align: center;
  text-align: left;
}
.info-title {
  color: #757575;
  font-weight: 500;
}
.info-description {
  font-weight: 600;
}
.skills-details {
  display: flex;
  gap: 24px;
}
.skills-info {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skills-info:hover {
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.2);
}
.skill-title {
  font-weight: 700;
  margin-top: 30px;
}
.skill-desc {
  margin-top: 20px;
  text-align: justify;
}
/* resume styles */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-items {
  margin-bottom: 30px;
}
.rs-title {
  color: #474747;
}
.resume-title {
  margin-bottom: 30px;
  color: #474747;
}
.rs-sub-title {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #757575;
}
.resume-description {
  color: #757575;
}
.resume-dw-btn {
  margin-top: 50px;
  text-align: center;
}
/* contact start */
.contact {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
}
.contact input[type="text"],
input[type="email"] textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
}
.contact-desc {
  margin-bottom: 30px;
}
.contact a {
  padding: 10px;
}
/* respondive styles */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .header {
    background-image: none;
  }
  .banner img {
    width: 100%;
     
  }
  .banner {
    margin: 0 15px;
    flex-direction: column;
  }
  .my-skills {
    padding: 10px 10px;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-left:5px;
  }
  nav li {
    margin: 0;
  }
  nav {
  
  }
  nav,
  .skills-details,
  .resume-content,
  .contact,
  .header {
    flex-direction: column;
    padding: 10px;
  }
  .section-about {
    padding: 15px;
  }
  .skills-info {
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .skills-details,
  .section-about,
  .contact,
  .my-skills {
    padding: 15px;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .contact,
  .banner {
    flex-direction: column;
  }
  .contact input["text"],
  input["email"],
  textarea {
    padding-left: 5px;
  }
  nav li {
    margin: 0;
  }
}
/* section ul {
    list-style: none;
    display: flex;
}
section .ul-name, li {
margin-left: 30px;
}
section .ul-info, li {
margin-left: 30px;
}
ul .li1 {
    margin-left: 30px;
} */
